



/* 全滿 */
html, body {
    height: 100%;
    overflow-x: hidden;
}
.card{
    min-width: 200px;
    width:20%; 
    margin:16px;
}


.loginBtn{
    width:120px ;
}
.userInfoBtn{
    width:60px !important;
    height:60px !important;
    border-radius: 50%;
    border-width: 3px;
    border-color: black;
    border-style: solid;

}

.home-page-filling{
    width:30%
}
@media (min-width: 1200px) {

    #logo{
        width:150px;
    }
    .more-than-show{
        display: block !important;
    }
    .less-than-show{
        display: none !important;
    }
    .productImgContainer{
        width: 100%;
    }
    .productCardContainer{
        width: 22%;
        margin-bottom: 40px;
        
    }
    .productCard{
        border: 1px solid rgba(0,0,0,.125);
        border-radius: 10px;
        margin:2%;
        display: flex;
        flex-direction: column;
    }
    .productInfoContainer{
        padding: 8px;
        flex-grow: 1;
    }  
    .productButtonArea{
        display: flex;
        justify-content: center;
    }
    .productDescribeArea{
        height: 80px;
        margin: 5px;
        overflow-y:auto;
    }
    /*navbar-style*/

    nav .navbar_links{
        height: inherit;
        list-style-type: none;
    }
    nav .navbar_links li {
        height: inherit;
        display: inline-block;
        margin: 10px;
    }
    
    .navbar_logo{
        width: 40vw;
    }
    .navbar_links{
        width: 45vw;
    }
    #navbar_toggle{
        display: none;
        width:10vw;
    }
    #navbar_toggle_after_panel{
        display: none;
    }
    #productArea{
        padding:3%; display:flex;  
        justify-content: space-around;   
        flex-direction: row;       
        flex-wrap: wrap;         
        flex-grow: 1;     
        width: 100%;
    }
    .inShoppingCartProductInfo{
        width: 70vw;
        display: flex;
        padding: 8px 0px 8px 8px;
        flex-direction: column;
        justify-content: space-between;
        font-size:3vw;
    }
    .inShoppingCartProductInfo h5{
        width: 75vw; 
        font-size:1em;  
        overflow: hidden; 
        white-space: nowrap; 
        text-overflow: ellipsis;
    }

}

@media (max-width: 1200px) {
    .more-than-show{
        display: none ;
    }
    .less-than-show{
        display: block ;
    }
    #productArea{
        /* min-width: 600px; */
        padding: 0px 5%;
        position:absolute;
        top:5%;
        display: flex;
        flex-direction: column;
        width:100vw;
    }
    .productImgContainer{
        width: 180px;
    }
    .productCardContainer{
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
        
    }
    .productInfoContainer{
        padding: 8px;
        flex-grow: 1;
    } 
    .productCard{
        border: 1px solid rgba(0,0,0,.125);
        border-radius: 10px;
        display: flex;
        flex-direction: row;
    }
    .productDescribeArea{
        height: 60px;
        overflow-y:auto;
    }
    .productButtonArea{
        display: flex;
        justify-content: space-evenly;
    }
    nav{
        display: flex;
        height:80px;
        background-color: bisque;
        position: fixed;
        top: 0px;
        
        width: 100%;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    nav .navbar_links{
        height: inherit;
        visibility: hidden;
        list-style-type: none;
    }
    nav .navbar_links li {
        height: inherit;
        margin: 10px;
    }
    
    .navbar_logo{
        width: 30vw;
    }
    .navbar_links{
        width: 50vw;
    }
    #navbar_toggle{
        width:10vw;
    }
    #navbar_toggle_after_panel {
        transition: 1s;
        position: absolute;
        top: 80px;
        display: flex;
        justify-content: center;
        overflow-y: auto;
        
        height: 100vh;
        width: 0px;
        background-color: grey;
    }
    #navbar_toggle_after_panel  ul{
        list-style-type: none;
        padding: 0px;
        margin: 0px;
        margin-top: 5vh;
        min-width:max-content ;
        
    }
    #navbar_toggle_after_panel  ul li  {

        font-size: 20pt;
        height: 5vh;
        margin: 20px;
    }
    #navbar_toggle_after_panel  ul li a {
        font-size: 20pt;
        color: black;
        text-decoration: none;
        font-size: 20pt;
        height: 5vh;
        margin: 20px;
    }
    .inShoppingCartProductInfo{
        overflow: hidden;
        width: 55%;
        display: flex;
        padding: 8px;
        flex-direction: column;
        justify-content: space-between;
        font-size:4vw;
    }
    .inShoppingCartProductInfo h5{
        width: inherit; 
        font-size:1em;  
        overflow: hidden; 
        white-space: nowrap; 
        text-overflow: ellipsis;
    }
}
nav{
    display: flex;
    height:80px;
    background-color: rgb(255, 255, 255);
    border-bottom: solid 1px gray;
    position: fixed;
    top: 0px;
    width: 100%;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
nav .navbar_links ul {
    margin: 0px;
    margin-top: 10px;
    padding: 0px;
    
}

nav .navbar_links li  a{
    font-size: 20pt;
    color: black;
    text-decoration: none;
}
.cartQuantity{
    position:absolute;
    width: 25px;
    height: 25px;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -17px;
    top: -17px;
    font-size: 13pt;
}

.productImg{

    width: inherit;
    border-radius: 10px 10px 0px 0px;
    
}
.inCartProductContainer{
    min-width: 300px;
    width: 90vw;
    padding-bottom:100px;
    overflow: hidden;
}

.fadeOutBySliderLeft{
    animation-name: sliderLeft;
    animation-duration: 1s;
}
@keyframes sliderLeft {
    from {
        opacity: 1;
        width: 100%;
    }
    to {
        opacity: 0;
        width: 0%;
    }
}
.fadeInBySliderRight{
    animation-name: sliderRight;
    animation-duration: 2s;
    animation-delay: 2s;
}
@keyframes sliderRight {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}
@keyframes rightSlide {
    from {
        left:-100%;
    }
    to {
        left:0px;
    }
}
@keyframes leftSlide {
    from {
        left:0;
    }
    to {
        left:-100%;
    }
}
.cartFlowContainer{
    width: 100vw;
    padding: 0vw 5vw;
    
    height: inherit;
}
.turnRight{
    width: 10vw;
    height: 10vh;
    background-color: yellow;
    position: absolute;
    right: 2%;
    top: 50%;
}
.inactiveFlow{
    display: none;
}

.productPlaceholder{
    width: 22%;

}
.inShoppingCartProductImg{
    width: inherit;
    max-width: inherit;
    border-radius: 15px 0px 0px 15px;
    
}
.inShoppingCartProduct{
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 15px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    min-width: 300px;
}
.deliveryFlowContainer{

    margin: 8px 20vw;

}
/*購物車-確認訂單流程*/
table{
    font-size: 3vw;
}
table, td, th {
    border: 1px solid;
  }
th{
    text-align: center;
    font-size: 0.8em;
}
td{
    font-size: 0.7em;
}
/*後台管理*/
.activePanel{
    border-left: 20px solid #78b1f3;
}